<article>
  <header>
    <h1><a href="/{{path}}/">{{title}}</a></h1>
    <h2>
      By {{author}} on <time datetime="{{iso3339 date}}" title="{{datetime date}}">{{calendar date}}</time>
    </h2>
    <h2>
      {{subtitle}}
    </h2>
  </header>
  <div class="main">
    <p>{{{description}}}</p>
  </div>
</article>